.bookPage {
	background : white;
	width      : 500px;
	height     : 400px;

	border : 1px solid silver;
}

.bookCover {
	background : rgb(32, 77, 123);
	width      : 500px;
	height     : 400px;
}

.bookPageOdd {
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 20px;
}

.contentsHeading1 {
	font-weight: bold;
	font-size: 24px;
	width:100%;
	text-align: center;
}

.contentsHeading2 {
	padding-left: 20px;
	font-weight: bold;
	font-size: 20px;
}

.contentsNormal {
	padding-left: 30px;
	font-size: 16px;
}

.contentsPageNumber {
	padding-right:10px;
	font-size: 14px;
	text-align: right;
}

.oddPageNumber {
	position    : absolute;
	left        : 10px;
	top         : 570px;
	width       : 20px;
	height      : 20px;
	line-height : 20px;
	text-align  : center;
	font-size   : 12px;
	color       : silver;
}

.evenPageNumber {
	position    : absolute;
	right       : 10px;
	top         : 570px;
	width       : 20px;
	height      : 20px;
	line-height : 20px;
	text-align  : center;
	font-size   : 12px;
	color       : silver;
}