::-webkit-input-placeholder {
    font-style : italic;
}

:-moz-placeholder {
    font-style : italic;
}

::-moz-placeholder {
    font-style : italic;
}

:-ms-input-placeholder {
    font-style : italic;
}

#divIdLChatAddInner, #divIdLChatTabsToggleInner {
    position    : absolute;
    top         : 0;
    right       : 0;
    bottom      : 0;
    left        : 0;
    margin      : auto;

    line-height : 18px;
}

#divIdLChatTabsToggleInnerSpan {
	position   : absolute;
	top        : 3px;
	left       : 6px;
	font-size  : 16px;
	width      : 16px;
	height     : 16px;
	transform  : rotate(90deg);
	transition : all 0.3s ease;
}

.ButtonGreen {
    background-color    : #008272;
    border              : 1px solid transparent;

    text-decoration     : none;
    outline             : none;
    box-sizing          : border-box;
    color               : #FFFFFF;
    cursor              : pointer;
    transition-property : width, height, background, margin, border, padding;
    transition-duration : 0.25s;
}

.ButtonGreen:hover {
    background-color : #009983;
}

.ButtonGreen:active {
	background-color : #008272;
	border           : 1px solid black;
}

.ButtonExit {
	background-color       : transparent;

	outline                : none;
	cursor                 : default;
	--webkit-appearance    : none;
	-webkit-border-radius  : 0;
	overflow               : visible;
	font-family            : 'Segoe UI', Helvetica, Tahoma, Geneva, Verdana, sans-serif;
	-webkit-font-smoothing : antialiased;
	border                 : 1px solid transparent;
	box-sizing             : border-box;
	font-size              : 14px;
	height                 : 50px;
	margin                 : 0px;
	padding                : 0px 14px;
	color                  : #FFFFFF;
	float                  : right;
	transition-property    : width, height, background, margin, border, padding;
	transition-duration    : .25s;
}

.ButtonExit:hover {
	background-color : #505050;
}

.ButtonExit:active {
	background-color: #969696;
}

.ButtonCloseGameRoom {
	color                  : #FFFFFF;

	font-family            : "Segoe UI", Helvetica, Tahoma, Geneva, Verdana, sans-serif;
	-webkit-font-smoothing : antialiased;
	padding                : 0px;
	border                 : 1px solid transparent;
	box-sizing             : border-box;
	-moz-box-sizing        : border-box;
	background             : none;
	outline                : none;
	cursor                 : pointer;
	--webkit-appearance    : none;
	-webkit-border-radius  : 0;
	overflow               : visible;
	float                  : left;
	height                 : 100%;
	width                  : 40px;
	transition-property    : color;
	transition-duration    : .25s;
}

.ButtonCloseGameRoom:active {
	color : #008272;
}

.ButtonCloseGameRoom:hover {
	color : #009983;
}

div.ButtonCloseGameRoom center div {
	font-size   : 12px;
	line-height : 16px;
	width       : 12px;
	height      : 16px;
	position    : relative;
}

span.GameRoomCloseSpan {
	width    : 100%;
	height   : 100%;
	left     : 0px;
	top      : 2px;
}

span.GameRoomCloseSpan:before {
	content : '\274C';
}

html, body {
	height : 100%;
}

* {
	margin     : 0px;
	padding    : 0px;
	overflow-x : hidden;
	overflow-y : hidden;
}

#divIdGoUniverse {
	user-select         : none;
	-webkit-user-select : none;
	-moz-user-select    : none;
	-ms-user-select     : none;
}

.block_elem {
	position : absolute;
	padding  : 0;
	margin   : 0;
}

div.Selectable {
	user-select         : all;
	-webkit-user-select : auto;
	-moz-user-select    : all;
	-ms-user-select     : all;
}

.ChatMenuButton {
	font-family            : "Segoe UI", Helvetica, Tahoma, Geneva, Verdana, sans-serif;
	-webkit-font-smoothing : antialiased;
	padding                : 0px;
	border                 : 1px solid transparent;
	box-sizing             : border-box;
	-moz-box-sizing        : border-box;
	background             : none;
	outline                : none;
	cursor                 : pointer;
	-webkit-appearance     : none;
	-webkit-border-radius : 0;
	overflow              : visible;
	color                 : #111111;
	line-height           : 20px;
	float                 : left;
	height                : 100%;
	width                 : 26px;
	transition-property   : color;
	transition-duration   : .25s;
}

.ChatMenuButton:active {
	color : #008272;
}

.ChatMenuButton:hover {
	color : #009983;
}

.ChatMenuButton center div {
	font-size   : 14px;
	line-height : 20px;
	width       : 14px;
	height      : 20px;
	position    : relative;
}

.ChatMenuButton center div span {
	position : absolute;
	width    : 100%;
	height   : 100%;
	left     : 0px;
	top      : 1px;
}

.ChatMenuSpan:before {
	content: '\3009';
}

.ChatMenuSpanClose:before {
	/*content : '\274C';*/
	content : '\2715';
}

.ChatMenuSpanInfo:before {
	content : '\003f';
}

.ChatMenuSpanLeftArrow:before {
	content : '\21F1';
}

.ChatMenuSpanSoundOn:before {
	content : '\260E';
}

.ChatMenuSpanSoundOff:before {
	content : '\260F';
}

div.ContextMenu {
	border              : 1px solid rgb(166, 166, 166);
	box-shadow          : rgba(0, 0, 0, 0.8) 0px 1px 5px;
	background          : rgb(255, 255, 255);

	transition-property : height;
	transition-duration : 0.2s;
	transition-delay    : 0s;
}

div.ContextMenu ul {
	padding     : 5px 0px;
	margin      : 2px 0px 0px;
	list-style  : none;
	font-size   : 16px;
	line-height : 20px;
}

div.ContextMenu ul li.ContextMenuItem {
	font-family : 'Times New Roman', Times, serif;
	height      : 20px;
	color       : rgb(68, 68, 68);
	margin      : 0px 5px;
	cursor      : pointer;
	background  : transparent;
}


div.ContextMenu ul li.ContextMenuItem:hover {
	background  : rgb(216, 218, 220);
}

div.ContextMenu ul li.ContextMenuLine {
	height      : 0px;
	margin      : 2px 5px;
	border-top  : 1px solid rgb(190, 190, 190);
}

span.UserChatSpan {
	text-decoration: none;
}

span.UserChatSpan:hover {
	text-decoration: underline;
}


div.VerScroll {
	position   : absolute;
	top        : 0px;
	left       : 0px;
	width      : 14px;
	height     : 50px;
	background : rgb(255, 255, 255);
	border     : 1px solid rgb(190, 193, 196);

	transition-property : background, border;
	transition-duration : 0.2s;
	transition-delay    : 0s;
}

div.VerScroll:hover {
	background-color:  rgb(240, 240, 240);
}

div.VerScrollActive, div.VerScrollActive:hover {
	border-color:  rgb(255, 255, 255);
	background-color:  rgb(64, 64, 64);
}

div.ChatOpenPanel {
	transition-property : all;
	transition-duration : 0.5s;
	transition-delay    : 0s;
}

input.SearchInput {
	background-color : #000000;
	color            : #505050;
	border           : 1px solid #505050;
	font-family      : "Segoe UI", Helvetica, Tahoma, Geneva, Verdana, sans-serif;
	height           : 28px;
	width            : 120px;
	font-size        : 13px;
	padding          : 0px 6px 0px 6px;
	outline          : none;
}

input.SearchInput:hover {
	color            : #FFFFFF;
	border           : 1px solid #969696;
}

input.SearchInput:focus {
	color            : #FFFFFF;
	border           : 1px solid #969696;
}